@charset "utf-8";
/* CSS Document */

* {margin:0; padding:0; font-family: 'Ubuntu', sans-serif;}
body {background:#f1f1f1 !important; font-size:12px; color:#FFF;}
div {position:relative}
img {border:none}
a {outline:none; overflow:hidden; text-decoration:none}
a:hover {text-decoration:none}


/*classes*/
.clear {width:100%; height:0; display:block; clear:both; background-color:transparent; font-size:0}
.left {
	float: left
}
.bt-primary {
	width: 112px;
	height: 38px;
	background-color: #11a8ab;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	margin-top: 10px;
	font-style: italic;
	color: #fff;
	font-size: 15px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.bt-primary:hover {
	background-color: #2f7e80
}
/* Id's */

#form-login {
	width: 580px;
	margin:30px auto;
	color: #fff !important
}

.uk-form {
	width: 411px;
	margin: 0 auto
}

#register li{
	list-style: none

}
#register a {
	background-color: #2a2a2b;
	width: 275px;
	height: 44px;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 26px;
	padding-top: 18px;
	cursor: pointer
}
#register .active {
	background-color: #3468af
}

#register a:hover {
	background-color: #25589d;
	text-decoration: none
}

#login {
	background-color: #394264;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
}

.bt-login {
	background-color: #11a8ab;
	width: 100%;
	height: 38px;
	display: block;
	text-align: center;
	padding-top:14px;
	font-size: 26px;
	color: #fff
}

.input-login {
	background-color: #212324 !important;
	width: 343px !important; 
}

#topo {
	background-color: #394264;
}

.item-messages {
	position: relative;
}
.qtd-message {
	background-color: #e64c65;
	position: absolute;
	top: 5px;
	width: 10px;
	height: 10px;
	line-height: 12px;
	font-size: 10px;
	right: 10px;
	padding:4px; 
	text-align: center;
	border-radius: 50px;
}

/* itens do menu */

.uk-navbar-nav img {
	margin-right: 10px
}

/* sidebar user */
#main-home, #main-comunidade {
	margin: 40px 0;

	
}

.side-main-user {
	background-color: #394264;
	padding: 8px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.picture-user {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 196px;
	height: 221px;
	margin: 5px auto;
	border: 3px solid #50597b
}
.resume-user {
	width: 196px;
	margin: 5px auto;
	text-align: center;
	color: #9099b7;
	font-size: 14px
}
.resume-user h1 {
	font-size: 24px;
	color: #fff
}
.home-interaction {
	padding: 0
}
.home-interaction li{
	width: 80px;
	height: 40px;
	background-color: #50597b;
	padding: 3px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
	text-align: center;
}
.home-interaction a {
	color: #9099b7
}
.home-interaction p {
	margin: 3px 0
}

#user-messages-sidebar {
	border-top: 5px solid #e64c65
}

#user-views-sidebar {
	border-top: 5px solid #11a8ab
}

#user-follow-sidebar {
	border-top: 5px solid #fcb150
}

#head-menu {
	padding: 10px 0;
	text-align: center;
	background-color: #11a8ab;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.nav-main-sidebar a{
	color: #ffffff !important

}

.nav-main-sidebar li {
	border-bottom: 1px solid #1f253d;
	padding: 7px 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.nav-main-sidebar li:hover {
	background-color: #50597b;

}
.nav-main-sidebar li:last-child {
	border-bottom: 0
}

.nav-main-sidebar img {
	margin-right: 10px;
}

.post-home {
	width: 580px;
	margin-left: 10px;
	background-color: #fff;
	padding: 10px
}

.post-home h1 {
	font-size: 20px;
	font-weight: 300
}

.sidebar-friends {
	width: 290px;
	background-color: #394264;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	margin-left: 10px;
	padding:5px 0 5px 2px;
}

.sidebar-friends h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0
}

#post-perfil textarea {
	width: 540px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	padding: 10px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.thumb-friends {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 6px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.thumb-friends:hover {
	-webkit-box-shadow: 0 0 3px 2px rgba(17,168,171,1);
	box-shadow: 0 0 3px 2px rgba(17,168,171,1);
	
}

.thumb-friends img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ver {
	color: #fff
}

.advertising {
	width: 290px;
}

.comunidades {
	margin-left: 10px;
	padding: 10px;
	width: 76.666% !important;
	
}

.comunidades h1 {
	font-size: 20px;
}

.comunidade-user {
	background-color: #fff;
	margin: 0 15px 15px 0;
}

.comunidade-user h2{
	font-size: 15px;
	font-weight: 400;
	color: #11a8ab
}

.descricao-comunidade {
	padding: 0 10px;
	width: 165px;
}

#lista-comunidades {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 30px;

}
#lista-sugestao-comunidades {
	padding-left: 0
}
#lista-sugestao-comunidades li {
	display: inline-block;
	width: 236px;
	background-color: #fff;
	margin-right: 65px;
}
#lista-sugestao-comunidades li:last-child {
	margin-right: 0
}

#lista-sugestao-comunidades h2 {
	font-size: 16px;
	color: #11a8ab;
	margin: 0 0 0 10px;
}

#lista-sugestao-comunidades p {
	margin: 0 0 0 10px;
}

.participar {
	float: right;
	width: 67px;
	height: 23px;
	background-color: #50597b;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-top: 4px;
	margin: 0 10px 10px 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.participar:hover {
	background-color: #11a8ab;
	color: #fff;
	text-decoration: none
}

#search-comunidades {
	position: absolute;
	right: 0;
	top: 20px;
}

#search-comunidades input[type="text"] {
	border:0;
	padding: 10px 7px;
	-webkit-box-shadow: 1px 1px 5px 0 #CFCFCF;
	box-shadow: 1px 1px 5px 0 #CFCFCF;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#search-comunidades button {
	background-color: #e64c65;
	border:0;
	padding: 6px 7px;
	margin-left: 5px;
	color: #fff;
	font-style: italic;
	border-radius: 5px;
	-webkit-border-radius: 5px;   
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#search-comunidades button:hover {
	background-color: #394264
}

#interacao-comunidade:after {
	visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

}

.descricao-comunidade {
	width: 50% !important;
	margin: 0 8px
}

#interacao-comunidade {
	padding-left: 0;
	margin-top: 20px;
	color: #666
}
#interacao-comunidade a {
	color: #666
}

#interacao-comunidade li {
	float: left;
	padding: 0 17px;
	text-align: center;
	list-style: none;
	border-right: 1px solid #ccc
}
#interacao-comunidade li:last-child {
	border-right: 0;
	padding-right: 0
}
#interacao-comunidade span {
	display: block
}

#interacao-comunidade button {
	width: 172px;
	font-size: 13px;
	margin-left: 81px;
	margin-top: 0
}
#participar-comunidade h1 {
	font-size: 18px;
	font-weight: 700
}
#texto-comunidade {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
}

#participar-comunidade {
	background-color: #fff;
	padding: 10px
}

#forum-comunidade {
	background-color: #fff;
	padding: 10px;
	margin-top: 30px;
} 

#forum-comunidade h1 {
	font-size: 18px;
	font-weight: 700
}
.descricao-post {
	margin-left: 10px
}
.descricao-post h2 {
	margin: 0;
	padding: 0;
	font-size: 16px !important;
	line-height: 20px !important;
	color: #666
}
.descricao-post h2 a {
	color: #11a8ab
}
.post-forum:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#img-destaque-comunidade {
	margin-bottom: 10px;
}
.interacao-forum {
	padding: 0;
	list-style: none;
	margin-top: 5px
}
.interacao-forum li {
	display: inline-block;
	padding: 0 7px;
	border-right: 1px solid #ccc
}
.interacao-forum li:last-child {
	border-right: 0;
	padding-right: 0;
	color: #394264;
}
.interacao-forum li:first-child {
	padding-left: 0;

}
.post-forum {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1
}
.post-forum:last-child {
	border-bottom: 0
}
.descricao-forum {
	width: 75% !important;
	margin-left: 30px;
}
.resposta-forum-user {
	width: 750px;
	margin-left: 15px;
}
#topo-post-forum {
	margin-top: 20px;
}
.user-membros {
	text-align: center;
	padding: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 0 #CFCFCF;
	box-shadow: 0 0 5px 0 #CFCFCF;
	margin: 5px;
}
.user-membros li {
	list-style: none;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.user-membros a {
	color: #394264
}
.user-membros a:hover {
	color: #11a8ab;
	text-decoration: none
}
.user-membros ul {
	padding: 0
}
#bt-banir {
	background: url(../img/bt-banir.jpg) 0 0 no-repeat;
}
#bt-remover {
	background: url(../img/bt-remover.jpg) 0 0 no-repeat;
}
#bt-moderador {
	background: url(../img/bt-moderador.jpg) 0 0 no-repeat;
}
#bt-banir:hover,
#bt-remover:hover,
#bt-moderador:hover {
	background-position: 0 -26px
}
.page-membros {
	width: 75% !important;
	margin-left: 30px;
}
.page-membros h1 {
	font-size: 26px;
}
.page-membros h1 span {
	font-size: 11px;
	font-weight: 600
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#paginacao {
	padding: 0
}
#paginacao li {
	display: inline-block;
}

#paginacao a {
	display: inline-block;
	padding: 3px 10px;
	background-color: #ccc;
	color: #666
}
#paginacao a.numbers {
	background-color: #394264;
	color: #fff
}
#paginacao a.atual {
	background-color: #11a8ab;
	color: #fff
}